<head>
  <meta charset="UTF-8">
  <title>Translated view</title>
  <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
</head>

<form action="/translate" method="post">
  <input type="submit" value="translate">
<table>
  <% @counters.each do |k,v| %>
    <tr><td><%= k %></td></td>
    <td><%= v %></td>
    <td><input type="checkbox" name="content[]" value="<%= k %>"></td>
    <td></td>
    </div>

    </td>
  <% end %>
</tr>
</table>
</form>
<table>
  <%= @content_tangos.class %>
  <% @content_tangos.each do |t| %> <tr>
    <td><%= t.word %></td></td>
    <td><%= t.mean1 %></td>
  <% end %>
  </tr>
</table>



<script type="text/javascript">
      function escapeHTML(s) {
        return $('<div>').text(s).html();
      }
$(function(){
    $("#translate-word").click(function(){
      var $word = $('*[name=check]:checked');
      var wordList = $word.map(function(index, el) { return $(this).val(); });
      alert(wordList);
      var request = $.ajax({
          type: "POST",
          url: "/translate",
          data: {
          word: wordList
            }
            });
            });
        });
</script>
